.managerPfp {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #237cb4;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10%;
    margin-right: 1px;
}
.managerPfp h3{
    background-color: #237cb4;
    color: white;
    font-size: 28px;
}
.userEmail{
    background-color: #237cb4;
}
.userEmail input{
    font-size: 18px;
    color: white;
    border: 2px solid white;
    margin: 5px;
    display: block;
    height: 38px;
}
.managerPfp input{
    color: white;
    background-color: #237cb4;
    padding: 2px;
}
.managerPfp img{
    background-color: #237cb4;
    width: 40px;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
}
.actions-container{
    margin-top: 40px;
    background-color: #60609c;
    padding: 15px;
    border-radius: 20px;
    width: 80px;
    justify-content: center;
}
.actions-container a{
    background-color: #60609c;
    text-decoration: none;
    color: white;
}

.newEmploye {
    width: 48%;
    background-color: #2879fe;
    padding: 20px;
    margin: 2px;
    font-size: 26px;
    font-weight: bold;
}
.Employe {
    width: 48%;
    background-color: yellow;
    padding: 20px;
    margin: 1px;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
}
.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.new input{
     background-color: yellow;
}
.Employe:hover {
    transform: scale(1.02);
    background-color: #77dd8a; 
}
.new h3{
    color: black;
    background-color: white;
    margin-bottom: 50px;
}
