*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    font-family: Arial, sans-serif;
    background-color: #4b71aa; 
    color: white;
}

.header{
    width: 100%;   
}

.header_top{
    width: 100%;
    background-color: rgb(27, 108, 201);;
    display: flex;  
    justify-content: center;
    padding: 10px;
    color: white;
}
.header_Title{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hedaer_text{
    font-size: 3rem;
}

.header_img{
    width: 130px;
    border-radius: 10px;
    margin: 20px;
}


.table-container {
    width: 90%;
    margin: 20px auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border-bottom: 1px solid #dddddd;
}

th, td {
    text-align: left;
    padding: 8px;
    backdrop-filter: blur(1px);
}

th {
    background-color: rgba(9, 69, 160, 0.34); 
   
}
