<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerente General Banco</title>
    <link rel="stylesheet" href="../css/main.css">
    
<style> @import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed&family=Seymour+One&display=swap'); </style>



</head>
<body>
    <Header class="header">
        <div class="header_top">
            <h2>Gerente General Banco</h2>
        </div>

        <nav class="header_Title">
            <div>
                <img src="../../../../utils/img/Banco-Agricola.png" class="header_img">
            </div>
            <div>
                <h1 class="hedaer_text">BANCO AGRICOLA</h1>
            </div>
        
        </nav>
    </Header>

    <article class="article">
        
        <section class="section">
                <ul class="select">
                    <p class="select_text_main">Registro Sucursales</p>
                    <div class="box_select"> 
                        <li class="select_li"><a href="../scripts/nuevaSucursal.php" class="select_opcion">Nueva Sucursal</a></li>
                        <li class="select_li"><a href="../scripts/nuevoGerente.php" class="select_opcion">Nuevo Gerente</a></li>
                        <li class="select_li"><a href="../scripts/movimientoCuentas.php" class="select_opcion">Movimientos de Cuentas Creadas</a></li>
                   </div>
                  
                </ul>
         
        </article>
    </section>
    
</body>
</html>