
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #4b71aa; 
    color: white;
}
.header{
    width: 100%;   
}

.header_top{
    width: 100%;
    background-color: rgb(27, 108, 201);;
    display: flex;  
    justify-content: center;
    padding: 10px;
    color: white;
}

.header_Title{
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hedaer_text{
    font-size: 3rem;
}

.header_img{
    width: 130px;
    border-radius: 10px;
    margin: 20px;
}
.article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.section{
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(240, 255, 158);
    border-radius: 10px;
}

.select{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;    
}

.select_text_main{
    text-align: center;
    color: white;
    font-size: 2rem;
    width: 100%;
    background: rgb(27, 108, 201);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
.select_li{
    margin: 0;
    width: 100%;
    height: 100%;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select_li:hover{
    margin-top: 5px;
    background:  rgb(44, 114, 194);
    border-radius: 10px;
    
}
.box_select{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.select_opcion{
    padding: 10px;
    text-decoration: none;    
    color: #555;
    font-size: 1rem;
    letter-spacing: .10px;
    font-family: 'anton';
}

.select_opcion:hover{
    letter-spacing: 1px;
    color: white;
    transition: .2s all;
}

